In [10]:
import pandas as pd
import numpy as np
import seaborn as sns

In [11]:
data = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
test_ids = test['PassengerId']

def clean (data):
    data = data.drop(['Ticket','Cabin','PassengerId','Name' ], axis=1)
    
    cols =['SibSp','Age','Parch','Fare']
    for col in cols:
        data[col].fillna(data[col].median(), inplace=True)
        
    data.Embarked.fillna('u', inplace=True)
    return data

data= clean(data)
test= clean(test)

In [12]:
data.head(5)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [13]:
data.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [14]:
# changing strings to numbers and fitting and testing at same time
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
cols = ['Sex', 'Embarked']

for col in cols:
    data[col]= le.fit_transform(data[col])
    test[col]= le.transform(test[col])
    print(le.classes_)

data.head(5)

['female' 'male']
['C' 'Q' 'S' 'u']

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [15]:
# model creation
from sklearn.linear_model import LogisticRegression
from sklearn. model_selection import train_test_split

y = data['Survived']
x = data.drop('Survived', axis=1)

x_train, x_val, y_train, y_val = train_test_split(x ,y, test_size =0.2, random_state=42)

In [16]:
#classification
clf = LogisticRegression(random_state =0, max_iter=1000).fit(x_train, y_train)

In [20]:
#prediction and Accuracy
predictions = clf.predict(x_val)
from sklearn.metrics import accuracy_score
accuracy_score(y_val, predictions)

0.8100558659217877

In [18]:
submission_preds = clf.predict(test)

In [21]:
df = pd.DataFrame({'PassengerId':test_ids,
                  'Survived':submission_preds,
                  })

In [22]:
df.to_csv('submission.csv', index=False)